.history
.vscode
.idea
*dSYM/
*.yml linguist-language=c
*.html linguist-language=c
*.js linguist-language=c
*.xml linguist-language=c
*.css linguist-language=c
*.md linguist-language=c
*.exe linguist-language=c
*.make linguist-language=c
*.makefile linguist-language=c

